header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #9CA1CF;
    padding: 0 5%;
}

header a {
    font-size: 36px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 70px;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.login h2 {
    cursor: pointer;
}

#addTodo {
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 15px;
    cursor: pointer;
}

#addTodo:hover {
    background-color: rgb(198, 198, 198);
}