header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #9CA1CF;
    padding: 0 5%;
}

header a {
    font-size: 36px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-align: center;
}

.login {
    display: flex;
    flex-direction: row;
    gap: 30px;
}