dialog {
    animation: fade-slide-up 0.3s ease-out forwards;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
}

.dialog {
    width: 970px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

dialog h1 {
    width: 350px;
    height: 105px;
    background-color: #9CA1CF;
    font-size: 48px;
    line-height: 105px;
    text-align: center;
    border-radius: 10px;
}

dialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

dialog input {
    width: 460px;
    height: 80px;
    background-color: #E2E0E0;
    border: none;
    text-align: center;
    font-size: 24px;
}

dialog button {
    width: 460px;
    height: 108px;
    background-color: #9CA1CF;
    font-size: 36px;
    font-weight: bold;
    border-radius: 10px;
}

@keyframes fade-slide-up {
    from {
        opacity: 0;
        transform: translateY(4rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}