/* Main Page */

main {
    height: 89vh;
    display: flex;
    flex-direction: row;
}

ul {
    padding: 0;
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: 618px 618px;
    grid-template-rows: 271px;
    justify-content: center;
    gap: 20px;
}

.todo-item-list-container {
    height: 100%;
    overflow: scroll;
}

.todo-item-list-container::-webkit-scrollbar {
    display: none;
}

/* Main Page 끝 */